@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

@import url(https://fonts.googleapis.com/css?family=Varela+Round);



/* Custom CSS */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #fff;
/*  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;*/

}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: none;
    color: chocolate;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h1 {
    font-size: 2.5vw;
    padding: 5px 10px;
    float: left;
}

h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 4.5vw;
}

h3 {
  font-size: 1.75vw;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
  font-weight: 900;
}

small {
  font-size: .8em;
}



/* Header */

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: auto;
  background-color: #fff;
  border-bottom: 1px solid #777;
  z-index: 100;
}

nav {
    float: right;
    padding-right: 20px;
}
nav li {
    display: inline;
}
nav li a {
    padding: 26px 10px;
    display: inline-block;
}
nav li a:hover {
    background: teal;
    color: #fff;
}



/* Inputs and Buttons */

input {
  width: 100%;
  border:0;
  padding:10px 0;
  margin: 5px 0;
  font-size:.8em;
  display: block;
  color: #444;
  text-indent: 10px;
}

button, input[type="submit"] {
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 5px 0;
  background-color: #ccc;
}

button:hover, input[type="submit"]:hover {
  background-color: teal;
  color: #fff;
}

button:active, input[type="submit"]:active {
  background-color: orange;
  color: #fff;
}

/* wrapper */
.wrapper {
  width: 100%;
  height:auto;
  padding:65px 0 300px;
  background: url(../images/duck.jpg) no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}


/* Hero */

.hero {
  margin: 90px auto 0;
  color: white;
  overflow: auto;
  text-align: center;
}

.duck-intro {
  /*width: 60%;*/
  padding: 20px;
  height: 150px;

  background-color: rgba(0, 0, 0, 0.5);
/*  float: left;*/
}


.duck-intro h2 {
border-bottom: 2px solid white;
}

.duck-intro h5 {
  margin: 10px;
}

.user-messages {
  height: 100px;
  margin: 15px auto 30px;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
}

/* button dashboard 01 */
#create-edit-del-button-dashboard {
  width: 8%;
  background-color: rgba(0,0,0,0.5);
  color: white;
}



/* Register and Login */
.API-register {
  width: 20%;
  position: fixed;
  top: 155px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
}

.API-login {
  width: 20%;
  position: fixed;
  top: 155px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
}

.register-login {
  padding: 20px 10%;
}



/* Create poll container */



#poll-creation-container{
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

#poll-edit-container{
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}


/* Your polls */

#user-polls {
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

#user-polls li {
  display: block;
  padding: 5px;
}

#user-polls button {
  width: 50px;
  margin: 5px;
  padding: 5px;
}



/* Poll container */

.vote-poll-container {
  overflow: auto;
}

#rendered-poll {
  background-color: rgba(0,0,0,0.5);
}



/* button dashboard 02 */

#vote-results-button-dashboard {
  margin-top: 0;
}

#vote-results-button-dashboard button{
  margin-right: 5px;
  padding-left: 5px;
  display: block;
}


/* Poll results */

#poll-results-container {
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

#rendered-poll-results {

}

#rendered-poll-results p{
  margin: 10px 0;
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
}




/* animations and jQuery*/

.hidden {
  display: none;
}
