@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

@import url(https://fonts.googleapis.com/css?family=Varela+Round);



/* Custom CSS */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#13262b+0,012c38+44,002533+100 */
background: #13262b; /* Old browsers */
background: -moz-linear-gradient(top,  #13262b 0%, #012c38 44%, #002533 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #13262b 0%,#012c38 44%,#002533 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #13262b 0%,#012c38 44%,#002533 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13262b', endColorstr='#002533',GradientType=0 ); /* IE6-9 */


}

a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

a.user-polls, a.login-a, a.register-a, a.login-a2, a.register-a2 {
    text-decoration: none;
    color: rgba(0,255,0,0.8);
}

a.user-polls:hover, a.login-a:hover, a.register-a:hover, a.login-a2:hover, a.register-a2:hover {
    color: orange;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.75em;
    margin-top: 10px;
    margin-left: 2%;
    padding: 5px 10px;
    position: relative;
    float: left;
    width: 130px;

}

h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;
}

h3 {
  font-size: 1.75vw;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
  font-weight: 900;
}

small {
  font-size: .8em;
}

p {
  font-size: 1.1em;
  line-height: 1.2em;
}


/* Header */

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  z-index: 100;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
}

section {
  margin-left: 130%;
}






/* Inputs and Buttons */

input {
  width: 100%;
  border:0;
  padding: 7px 0;
  margin: 5px 0 10px;
  font-size:.8em;
  display: block;
  color: #444;
  text-indent: 10px;
  border-radius: 5px;
}

button, input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(0,122,65,.7);
  color: #fff;
}

button:hover, input[type="submit"]:hover {
  background-color: teal;
  color: #fff;
}

button:active, input[type="submit"]:active {
  background-color: orange;
  color: #fff;
}

button.create-new {
  width: 90%;
}

label: {
  margin-top: 5px;
}



/* wrapper */
.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height:auto;
  padding: 30px 0 450px;
  background: url(../images/duck01_crop.jpg) no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}


/* Hero */

.hero {
  position: relative;
  z-index: 10;
  left: 5%;
  margin: 0px auto;
  padding: 5px 5px 0px;
  color: white;
  overflow: auto;
  text-align: center;
  /*border: 1px solid white*/;
}

.duck-intro {
  padding: 20px;
  /*height: 150px;*/
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}


.duck-intro h2 {
  margin-bottom: 5px;
}

.duck-intro h5 {
  width: 80%;
  margin: 0 auto 12px;
  padding-top: 7px;
  border-top: 3px solid teal;
}



/* Register and Login */
.API-register {
  position: fixed;
  top:60px;
  right: 2%;
  background-color: rgba(0,0,0,0.5);
}

.API-login {
  position: fixed;
  top: 60px;
  right: 2%;
  background-color: rgba(0,0,0,0.5);
}

.register-login {
  padding: 20px 10%;
}

.register-login h4 {
  margin-bottom: 10px;
}

.register-login p {
  font-size: .9em;
}



/*ul.poll-list li {
  display: block;
  margin: 5px 0;
}
*/



.crt-poll-n-msg-holder {
  position: fixed;
  float: right;
  top: 60px;
  right: 0;
  margin-left: 2%;
}




.user-messages {
  position: relative;
  top: 0px;
  float: right;
  /*right: 2%;*/
  height: 60px;
  margin: 0px auto 20px;
  padding: 10px;
  background-color: rgba(49,169,200,0.6);
}


/* button dashboard 01 */
#create-edit-del-button-dashboard {
  position: absolute;
  width: 333px;
  top: 16px;
  right: 2%;
  font-size: .8em;
  color: white;
}

#create-edit-del-button-dashboard li  {
  display: inline-block;
  float: right;
  margin: 0 5px;
  padding: 5px 8px;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.5);
  /*border-radius: 15px;*/
}

#create-edit-del-button-dashboard li:hover{
  background-color: rgba(0,255,0,0.5);
}

#create-edit-del-button-dashboard li:active{
  background-color: rgba(232,177,0,0.5);
}


.user-messages:after, #create-edit-del-button-dashboard:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

/* Create poll container */



#poll-creation-container {
  position: relative;
  margin: 0 auto;
  float: right;
  top: 30px;
  padding: 10px 10px 0;
  background-color: rgba(0,0,0,0.7);
  overflow: auto;
}

#poll-edit-container, #user-polls {
  position: relative;
  margin: 0 auto;
  float: right;
  top: 0px;
  padding: 10px 10px 0;
  background-color: rgba(0,0,0,0.7);
  overflow: auto;
}

.vote-poll-n-reslt-holder {
  position: absolute;
  left: 1.2%;
  top: 210px;
  /*right: 0;*/
  margin: 0 2%;
  z-index: 1600;

}


.vote-poll-container, #poll-results-container {
  position: relative;
  margin: 0 1%;
  float: left;
  top: 0px;
  padding: 10px 10px 0;
  background-color: rgba(0,0,0,0.7);
  overflow: auto;
}

/*#poll-results-container {
  margin-left: 20px;
}*/


#rendered-poll h4 {
  margin: 10px 0;
}

#poll-creation-container form, #poll-edit-container form, .vote-poll-container ul{
  position: relative;
  width: 90%;
  padding: 10px 5px;
}

/*.option-one li {
  display: inline;
  width: 90%;
  padding: 10px 5px;
}*/

#poll-creation-container label{
  margin-top: 10px;
}

#poll-edit-container{
  margin-top: 20px;
}


/* Your polls */

#user-polls {
  height: 100px;
  margin-top: 20px;
}

#user-polls li {
  display: block;
  padding: 5px;
}

#user-polls li:nth-child(odd) {
  padding: 5px;
}

#user-polls button {
  width: 50px;
  margin: 5px;
  padding: 5px;
}



/* Rendered Poll container */

.vote-poll-container {
  overflow: auto;
}

#rendered-poll ul{
  padding: 5px 0;
}

#rendered-poll ul:link{
  background-color: rgba(0,255,255,0.5);
}

#rendered-poll ul:hover{
  background-color: rgba(0,255,0,0.5);
}

#rendered-poll ul:active{
  background-color: rgba(232,177,0,0.5);
}

#rendered-poll li:nth-child(even){
  list-style: none;
  padding: 10px;
}

#rendered-poll li:nth-child(odd){
  list-style: none;
}

/* button dashboard 02 */

#vote-results-button-dashboard {
  margin-top: 0;
}

#vote-results-button-dashboard button{
  margin-right: 5px;
  padding-left: 5px;
  display: block;
}


/* Poll results */

#poll-results-container {
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

#rendered-poll-results {

}

#rendered-poll-results li{
  margin: 10px 0;
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  /*display: inline-block;*/
}






/* misc, animations, and jQuery*/

.hidden {
  display: none;
}

.center-content {
  margin: 0 auto;
}

/*.pad-lft {
  margin-left: 10%;
}*/

.bottom-fix {
  position: fixed;
  bottom: 0;
  left: 0
}

.right-fix {
  position: fixed;
  right: 80px;
  top: 60px;
  padding: 15px 40px 15px 15px;
}



@media only screen and (min-width: 481px) and (max-width: 690px) {
/*  h1 {
    margin-left: 1%;
  }*/

  #create-edit-del-button-dashboard {
    margin: 0 2%;
    /*width: 80%;*/
  }

  #create-edit-del-button-dashboard li  {
    display: inline-block;
    padding: 5px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.5);
    /*border-radius: 15px;*/
  }


  .API-register {
    position: fixed;
    top:260px;
    /*right: 0px;*/
    margin: 0 1%;
  }

  .API-login {
    position: fixed;
    top: 260px;
    right: 0px;
  }

  .hero {
    position: fixed;
    z-index: 10;
    top: 60px;
    right: 0;
    left: 0;
    margin: 1% auto;
  }

  .user-messages {
    position: relative;
    top: 220px;
    right: 0;
    height: 60px;
    margin: 0;
    padding: 10px 20px;
  }

}


@media only screen and (max-width: 480px) {

  header{
    height: 120px;
  }

  h1 {
    /*position: absolute;*/
    /*float:left;*/
    width: 130px;
    margin: 5px 1%;
    padding-bottom: 20px;
  }

/*  #poll-creation-container, #poll-edit-container, #user-polls, .vote-poll-container, #poll-results-container {
    top: 10px;
    padding: 10px 10px 0;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
  }

  #poll-creation-container form, #poll-edit-container form, .vote-poll-container ul{
    position: relative;
    width: 85%;
    padding: 10px 5px;
  }*/


  #create-edit-del-button-dashboard {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0%;
    margin: 0 1%;
    width: 312px;
  }

  #create-edit-del-button-dashboard li  {
    /*float: none;*/
    display: inline-block;
    padding: 5px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.5);
  }


  .API-register {
    position: fixed;
    top:25px;
    margin: 1% 0;
  }

  .API-login {
    position: fixed;
    top: 25px;
    right: 0px;
  }

  .hero {
    position: fixed;
    z-index: 10;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .duck-intro {
    padding: 20px;
    background-color: rgba(0,0,0, .8);

  }


  .duck-intro h2 {
    margin-bottom: 5px;
    font-size: 2.25em;
  }

  .duck-intro h5 {
    width: 70%;
    margin: 0 auto 12px;
    padding-top: 7px;
    border-top: 3px solid teal;
    font-size: 1em;
  }

  .duck-intro p {
    font-size: .9em;
  }

/*  .user-messages {
    position: relative;
    right: 0;
    top: 60px;
    height: 60px;
    margin: 0;
    padding: 10px 20px;
  }*/

  .crt-poll-n-msg-holder {
    width: 94%;
    position: absolute;
    float: none;
    top: 60px;
    /*right: 0;*/
    margin-right: 0%;
  }


  .vote-poll-n-reslt-holder {
    width: 94%;
    position: absolute;
    float: none;
    top: 60px;
    /*right: 0;*/
    margin-right: 0%;
  }


  #poll-creation-container, #poll-edit-container, #user-polls {
    top: 0px;
  }

    #poll-creation-container, #poll-edit-container, #user-polls, .vote-poll-container, #poll-results-container {
    top: 0px;
    padding: 10px 10px 0;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
  }

  .vote-poll-container, #poll-results-container {
    top: 0px;
    width: 100%;
    padding: 10px 10px 0;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
  }

  .poll-results-container {
    margin: 20px 0;
    margin-left: 0;
    float: left;
  }

  #poll-creation-container form, #poll-edit-container form, .vote-poll-container ul{
    position: relative;
    width: 85%;
    padding: 10px 5px;
  }



}


