@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

@import url(https://fonts.googleapis.com/css?family=Varela+Round);



/* Custom CSS */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#13262b+0,012c38+44,002533+100 */
background: #13262b; /* Old browsers */
background: -moz-linear-gradient(top,  #13262b 0%, #012c38 44%, #002533 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #13262b 0%,#012c38 44%,#002533 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #13262b 0%,#012c38 44%,#002533 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13262b', endColorstr='#002533',GradientType=0 ); /* IE6-9 */


}

a {
    text-decoration: none;
    color: rgba(0,255,0,0.8);
}

a:hover {
    text-decoration: none;
    color: orange;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h1 {
    font-size: 2.5vw;
    padding: 5px 10px;
    float: left;
}

h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 4.5vw;
}

h3 {
  font-size: 1.75vw;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
  font-weight: 900;
}

small {
  font-size: .8em;
}

p {
  font-size: 1.1em;
  line-height: 1.2em;
}


/* Header */

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  overflow: auto;
  /*background-color: #fff;*/
  border-bottom: 1px solid #777;
  z-index: 100;
}

section {
  margin-left: 130%;
}

nav {
    float: right;
    padding-right: 20px;
}
nav li {
    display: inline;
}
nav li a {
    padding: 26px 10px;
    display: inline-block;
}
nav li a:hover {
    background: teal;
    color: #fff;
}



/* Inputs and Buttons */

input {
  width: 100%;
  border:0;
  padding:7px 0;
  margin: 5px 0;
  font-size:.8em;
  display: block;
  color: #444;
  text-indent: 10px;
}

button, input[type="submit"] {
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 5px 0;
  background-color: rgba(0,122,65,.7);
  color: #fff;
}

button:hover, input[type="submit"]:hover {
  background-color: teal;
  color: #fff;
}

button:active, input[type="submit"]:active {
  background-color: orange;
  color: #fff;
}

/* wrapper */
.wrapper {
  width: 100%;
  height:auto;
  padding: 30px 0 250px;
  background: url(../images/duck01_crop.jpg) no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}


/* Hero */

.hero {
  margin: 0px auto 0;
  padding: 5px 5px 0px;
  color: white;
  overflow: auto;
  text-align: center;
}

.duck-intro {
  /*width: 60%;*/
  padding: 20px;
  height: 150px;

  background-color: rgba(0, 0, 0, 0.5);
/*  float: left;*/
}


.duck-intro h2 {
  margin-bottom: 5px;
/*border-bottom: 2px solid white;*/
}

.duck-intro h5 {
  width: 60%;
  margin: 0 auto 12px;
  padding-top: 7px;
  border-top: 3px solid teal;
}

.user-messages {
  height: 60px;
  margin: 0px auto 30px;
  padding: 10px;
  background-color: rgba(49,169,200,0.3);
}

.user-messages:after {
  content:'';
  clear: both;
}

/* button dashboard 01 */
#create-edit-del-button-dashboard {
  position: absolute;
  right: 0;
  top: 480px;
  width: 8%;
/*  background-color: rgba(0,0,0,0.5);*/
  color: white;
  z-index: 20;
}



/* Register and Login */
.API-register {
  width: 20%;
  position: fixed;
  top: 155px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
}

.API-login {
  width: 20%;
  position: fixed;
  top: 155px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
}

.register-login {
  padding: 20px 10%;
}



/* Create poll container */



#poll-creation-container, #poll-edit-container, #user-polls, .vote-poll-container, #poll-results-container {
  padding: 10px 10px 0;
  background-color: rgba(0,0,0,0.7);
  overflow: auto;
}

#poll-creation-container form, #poll-edit-container form, .vote-poll-container ul{
  position: relative;
  width: 90%;
  padding: 10px 5px;
}

/*.option-one li {
  display: inline;
  width: 90%;
  padding: 10px 5px;
}*/

#poll-creation-container label{
  margin-top: 10px;
}

#poll-edit-container{
  margin-top: 20px;
}


/* Your polls */

#user-polls {
  height: 100px;
}

#user-polls li {
  display: inline-block;
  padding: 5px;
}

#user-polls li:nth-child(odd) {
  padding: 5px;
}

#user-polls button {
  width: 50px;
  margin: 5px;
  padding: 5px;
}



/* Rendered Poll container */

.vote-poll-container {
  overflow: auto;
}

#rendered-poll ul{
  padding: 5px 0;
}

#rendered-poll ul:link{
  background-color: rgba(0,255,255,0.5);
}

#rendered-poll ul:hover{
  background-color: rgba(0,255,0,0.5);
}

#rendered-poll ul:active{
  background-color: rgba(0255,255,0,0.5);
}

#rendered-poll li:nth-child(even){
  list-style: none;
  padding: 10px;
}

#rendered-poll li:nth-child(odd){
  list-style: none;
}

/* button dashboard 02 */

#vote-results-button-dashboard {
  margin-top: 0;
}

#vote-results-button-dashboard button{
  margin-right: 5px;
  padding-left: 5px;
  display: block;
}


/* Poll results */

#poll-results-container {
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

#rendered-poll-results {

}

#rendered-poll-results p{
  margin: 10px 0;
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
}






/* misc, animations, and jQuery*/

.hidden {
  display: none;
}

.center-content {
  margin: 0 auto;
}

.pad-lft {
  margin-left: 10%;
}

.bottom-fix {
  position: fixed;
  bottom: 0;
  left: 0
}

.right-fix {
  position: fixed;
  right: 80px;
  top: 60px;
  padding: 15px 40px 15px 15px;
}
